<h1 {text-align: center;}>Welcome, <%=@user.name%>! </h1>
<p {text-align: center;}>Click on the corresponding links that you need to use!!! OwO </p>

<%=@user.name%>!<br>
<%if @user.id == current_user.id%>
<label>To add a new anime to your list, click here</label>
<a href="/animelist/new"><button>Add Anime!</button></a><br>
<label>To view all your anime, click here</label>
<a href="/animelist"><button>View your Anime Library</button></a><br>
<label>To edit your user information, click here</label>
<a href="/users/<%=@user.id%>/edit"><button>Edit User</button></a><br>
<label>To delete your account, click the delete button below.</label>
<form action="/users/<%= @user.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
<%end%>