<h1>Fill out your anime below!</h1>
<p>Fill this out with the <b>Name</b> of the Anime, <b>Genre</b> of Anime <i>(Fantasy, Realistic, Comedy, Action, etc.)</i>, and <b>Type</b> of Anime <i>(Movie or Show)</i>.<br> Once you submit, it'll take you to your lists!</p>


<form method="POST" action='/animelist'>
    <label>Name:</label>
        <input type="text" name="name" placeholder="Enter name of the anime!"><br>
    <label>Genre:</label>
        <input type="text" name="genre" placeholder="Enter the genre!"><br>
    <label>Type:</label>
        <input type="text" name="classification" placeholder="Enter the type!"><br>
<input type="submit" value="Submit information!">
</form>