<form action="/animelist/<%=@animelist.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label>Edit name of the anime you watched:</label>
    <input id="name" type="text" name="animelist[name]" value=<%= @animelist.name%>><br>
    <label>Edit the genre of anime you watched:</label>
    <input id="genre" type="text" name="animelist[genre]" value=<%= @animelist.genre%>><br>
    <label>Edit the type of anime you watched:</label>
    <input id="duration" type="text" name="animelist[classification]" value=<%= @animelist.classification%>><br>
    <input type="submit">
</form>