<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />

    <title>UWU Anime List App OwO</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/new.css" />
  </head>
  <body>
  <header>
  <%if logged_in?%>
  <style>
body {
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #33E6FF;
  color: black;
}

.topnav a.active {
  background-color: #7A33FF;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/users/<%= current_user.id %>">My Account</a>
  <a href="/animelist">View All Animes</a>
  <a href="/logout">Logout</a>
</div>
      <% end %>
    
      </header>

    <div class="wrapper"> 
    <body background="https://images.alphacoders.com/736/736461.png"> </body>

    <%= yield %>

    <footer class="branding">
        <small>&hearts; &hearts; &hearts; &copy; 2020 <b>Ohaiklochan/CFS &hearts; &hearts; &hearts;</b></small>
      </footer>
    </div>

    
  </body>
</html>