<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />

    <title>UWU Anime List App OwO</title>

    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="/stylesheets/new.css" />
  </head>
  <body>
  <header>
  <%if logged_in?%>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users/<%= current_user.id %>">My Account</a></li>
    <li><a href="/animelist">View All Animes</a></li>
    <li><a href="/logout">Log Out</a></li>
</ul>
      <% end %>
    
      </header>

    <div class="wrapper"> 
    <body background="https://images.alphacoders.com/736/736461.png"> </body>

    <%= yield %>

    <footer class="branding">
        <small>&hearts; &hearts; &hearts; &copy; 2020 <b>Ohaiklochan/CFS &hearts; &hearts; &hearts;</b></small>
      </footer>
    </div>

    
  </body>
</html>