<h1>^_^ WELCOME TO THE ANIME LIST APP! ^_^</h1>
<p>Anime list was made to keep track of all the anime you have seen and watched. There are so many animes! Why not list your favorites here?</p>
<p>Sign up if you're ready to list your anime! If you've already done that, log in!</p>

<h4>Log In! </h4>
<form action='/login' method='POST'>
 <input type="text" name="username" placeholder="Username"> 
  <input type="password" name="password" placeholder="Password"> 
  <input type="submit" value="Log In">
</form>

<h4>Sign Up!</h4>
<form method='POST' action='/signup'>
<label>Name:</label>
<input type="text" name="name" placeholder="Name"><br>
<label>Email address:</label>
<input type="text" name="email" placeholder="Email Address"><br>
<label>Username:</label>
<input type="text" name="username" placeholder="Username"><br>
<label>Password:</label>
<input type="password" name="password" placeholder="Password"><br>
<input type="submit" value="Submit">
</form>